version: '3'

services:
  postgres:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    environment:
      - POSTGRES_PASSWORD=ektu-hackathon
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
  web:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app
    depends_on:
      - postgres
    ports:
      - "8000:8000"
  nginx:
    build:
      context: docker/nginx
      dockerfile: Dockerfile
    depends_on:
      - web
      - postgres
    ports:
      - "80:80"
    volumes:
      - ./backend/static/:/static